
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');
:root{
    --Violet: hsl(257, 40%, 49%);
--Soft-Magnet: hsl(300, 69%, 71%);

}

body{
    background: url("../images/bg-desktop.svg");
    background-color: var(--Violet);
    color: white;
    font-family: 'Poppins', sans-serif;
}
.logo{
    padding: 30px 0 0 8%;
     
}
.container {
    margin-top: 80px;
}
h1{
    font-weight: 600;
}
.img{
   width: 100%;
   
}
.content{
    margin: 30px;
}
.desc{
    line-height: 1.9;
    padding-top:15px ;
    padding-bottom:15px ;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}


.btn{
    color: var(--Violet);
    border-radius: 40px;
    padding: 10px 20px;
    width: 150px;


}
.btn:hover{
    cursor: pointer;
    background-color: var(--Soft-Magnet);
    border-color: var(--Soft-Magnet);
    box-shadow: 2px 2px whitesmoke;
}
.accounts{
   margin: 10px 70px;
   text-align: end;
}

.accounts i{
    margin: 0 10px;
    cursor: pointer;
}
i:hover{
    color: var(--Soft-Magnet);
}


@media only screen and (max-width: 375px){
    body{
       
        background: url("../images/bg-mobile.svg") center/cover; 
        background-color: var(--Violet);
    }
.logo{
    padding: 20px 0 0 2%;
    
}
.container{
    padding: 20px;

}
.content{
    text-align: center;
}
.accounts {
    text-align: center;
}
}